@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @RenderSection("cssArea", false)
</head>
<body>
    <div class="page">
        <header>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">SomTrack</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="@Href("/")">Карта</a></li>
                            <li><a href="@Href("~/Stations")">Станции</a></li>
                            <li><a href="@Href("~/Elements")">Типовые элементы</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><div class=""><span class="glyphicon glyphicon-user"></span></div></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </header>
        <div class="middle">
@*            <div class="left-sidebar">*@
@*                <div id="sidebar-toggle-btn">*@
@*                    <span class="glyphicon glyphicon-menu-hamburger"></span>*@
@*                </div>*@
@*                @RenderSection("sidebarArea", false)*@
@*            </div>*@
            <div class="content-wrap">
                @RenderSection("contentArea", false)
            </div>
@*            <div class="activity-panel-wrap">*@
@*                <div class="activity-panel-toggle-btn"><span class="glyphicon glyphicon-menu-up glyphicon-menu-down"></span></div>*@
@*                <div class="activity-panel-body">*@
@*                    @RenderSection("activityPanelArea", false)*@
@*                </div>*@
@*            </div>*@
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
   
    <script src="~/Scripts/page-scripts/common.js"></script>
    <script src="~/Scripts/jquery-2.2.4.js"></script>
    <script src="~/Scripts/libs/throttle-debounce.js"></script>
    <script src="~/Scripts/libs/pubsub.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/modules/API.js"></script>
    @RenderSection("scriptsArea", false)
</body>
</html>
